body{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation-name: header_animation;
    animation-duration: 4s;
}
@keyframes header_animation{
    25%  {top:-50px}
    100% {top:0px}
}
.left_header_side{
    width: 40%;
    float: right;
}
.right_header_side{
    display: flex;
    flex-direction: row;
    width: 40%;
    padding-top: 20px;
    justify-content: flex-end;
}
.header__logo{
    width: 100px;
    height: 30px;
    padding-top: 15px;
}
.bell{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    padding-top: 7px;
}
.user_container{
    width: 25px;
    height: 25px;
    background-color: gold;
    border: 1px solid gold;
    border-radius: 50%;
}
.user_name{
    margin: auto;
    color: white;
    padding-left: 9px;
    font-size: 22px;
    text-decoration: none;
    
}
.navbar ul {
    display: none;
    position: absolute;
    top: 100%;
  }
.navbar li:hover ul { 
    display: block; 
}
.navbar, .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
.navbar { height: 30px; }
.navbar li {
    float: left;
    position: relative;
}
.navbar ul li { 
    float: none;
    margin-top: 10px;
}
.drop_down_menu{
    width: 150px;
    background-color: white;
  }
.drop_down_menu li a {
    text-decoration: none;
    color: black;
}
#full_user_name{
    color: gray;
    border-bottom: 1px solid gray;
}
main{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo_in_main_blog{
    width: 300px;
    height: 300px;
}
.first_column{
    margin-left: 50px;
    height: 700px;
    padding-top: 150px;
}
.qa{
    width: 300px;
    height: 300px;
    background-color: green;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.second_column{
    height: 700px;
    padding-top: 150px;
}
.js{
    width: 300px;
    height: 400px;
    background-color: orange;
    font-size: 76px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.java{
    width: 300px;
    height: 204px;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
}
.third_column{
    height: 700px;
    padding-top: 150px;

}
.php{
    width: 600px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-style: italic;
}
.dot_net_and_events_block{
    display: flex;
    flex-direction: row;
}
.dot_net{
    width: 400px;
    height: 354px;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 58px;
}
.events{
    width: 200px;
    height: 124px;
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog{
    width: 200px;
    height: 130px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts{
    width: 200px;
    height: 100px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    position: fixed;
    bottom: 0;
    right: 10px;
}
.success-msg,
.warning-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    width: 150px;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
.warning-msg {
    color: #9F6000;
    display: block;
    background-color: #FEEFB3;
  }
@media screen and (max-width: 800px) {
    main{
        padding-top: 35px;
        width: 100%;
        height: 300px;
    }
    .logo_in_main_blog{
        width: 150px;
        height: 148px;
    }
    .first_column{
        margin-left: 25px;
        height: 300px;
    }
    .qa{
        width: 150px;
        height: 150px;
    }
    .second_column{
        height: 300px;
    }
    .js{
        width: 150px;
        height: 200px;

    }
    .java{
        width: 150px;
        height: 102px;
    }
    .third_column{
        height: 300px;
    }
    .php{
        width: 300px;
        height: 125px;
    }
    .dot_net{
        width: 200px;
        height: 177px;
    }
    .events{
        width: 100px;
        height: 60px;
    }
    .blog{
        width: 100px;
        height: 67px;
    }
    .contacts{
        width: 100px;
        height: 50px;

    }
}